.form {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.form label {
  display: block;
  margin-bottom: 4px;
}
.form input {
  display: block;
  margin-bottom: 16px;
  border: none;
  width: 100%;
  margin-top: 8px;
  padding: 1em;
  font-size: 1em;
}

.form .btn {
  width: 100%;
}

.form-error {
  color: red;
  font-size: 12px;
  margin-top: -12px;
  display: block;
}

.form input.error {
  border: 1px solid red;
}
