.App-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-wrapper {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 0.5em;
}

.App-results {
  flex-shrink: 2;
  width: 100%;
}

.App-category {
  margin-bottom: 25px;
  width: 100%;
}

@media screen and (min-width: 55rem) {
  .App-main {
    flex-direction: initial;
  }

  .App-category {
    position: sticky;
    top: var(--search-size-mx-h);
    width: 40%;
    max-width: 300px;
  }
}

.btn {
  padding: 1.2em;
  background: #71c9ce;
  transition: all ease-in-out 0.8s;
  border: 1px solid #71c9ce;
  border-radius: 2px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn:hover {
  background: #7cdadf;
  transform: scale(1.2);
}

.btn[disabled] {
  opacity: 0.3;
  pointer-events: none;
}
